.layout {
    display: flex;
    height: 100vh;
  }
  
  .left, .middle, .right {
    padding: 20px;
  }
  
  .left {
    width: 20%;
  }
  
  .middle {
    width: 60%;
    background: #fff;
  }
  
  .right {
    width: 20%;
  }
  

  