.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
}

.content {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}

.search-bar {
  width: 20%;
}
